.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: var(--spacing-x05);
  @media (width >= 768px) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x03);
  color: var(--color-white);
  text-align: start;

  @media (width >= 768px) {
    padding: 0 var(--spacing-x10);
  }
}

img {
  aspect-ratio: 16/9;
  width: 100%;
  max-height: 50rem;
  object-fit: cover;

  @media (width >= 769px) {
    max-width: 30rem;
  }
}
