body {
  margin: 0;
  background-color: var(--color-primary);
  padding: 0;
  font-size: var(--base-font-size);
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

h1 {
  font-size: 2rem;

  @media (width >= 768px) {
    font-size: 2.4rem;
  }
}

h3 {
  font-weight: var(--font-weight-bold);
  font-size: 2.3rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8rem;
  color: var(--color-tertiary);
}

ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.75rem;
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

:root {
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--base-font-weight);
  line-height: 1.4;
  font-family: var(--base-font-family);
  font-optical-sizing: auto;

  /* font-size */
  --base-font-family: "Roboto", Arial, sans-serif;
  --base-font-size: 1.6rem;
  --base-font-weight: 400;

  /* font-weight */
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;

  /* main colors */
  --color-primary: #07012b;
  --color-secondary: #250f4d;
  --color-tertiary: #f5c518;
  --color-quaternairy: #333;
  --color-quinary: #0ea39e;

  --color-white: #ffff;
  --color-black: #000;

  --transparent01: rgb(253, 253, 253, 0.1);
  --transparent02: rgba(255, 255, 255, 0.2);
  --transparent03: rgba(0, 0, 0, 0.3);

  /* spacings */
  --spacing-x01: 0.4rem;
  --spacing-x02: 0.8rem;
  --spacing-x03: 1.2rem;
  --spacing-x04: 1.6rem;
  --spacing-x05: 2rem;
  --spacing-x06: 2.4rem;
  --spacing-x07: 2.8rem;
  --spacing-x08: 3.2rem;
  --spacing-x09: 3.6rem;
  --spacing-x10: 4rem;
  --spacing-x11: 4.4rem;
  --spacing-x12: 4.8rem;

  /* borders */
  --border-01: 1px solid var(--color-white);
  --border-02: 2px solid var(--color-tertiary);
  --border-03: 2px solid var(--color-quinary);
  --border-04: 1px solid var(--transparent02);
  --border-05: 1px solid var(--transparent03);


  /* border radius */
  --border-radius-01: var(--spacing-x01);
  --border-radius-02: var(--spacing-x04);
  --border-radius-03: var(--spacing-x06);
}

.grid {
  --column-gap: 28px;

  display: grid;
  grid-template-columns:
    [full-start] 0 [content-start] repeat(4, 1fr)
    [content-end] 0 [full-end];
  gap: var(--column-gap);

  @media (width >= 768px) {
    grid-template-columns:
      [full-start] calc(48px - var(--column-gap)) [content-start] repeat(
        12,
        1fr
      )
      [content-end] calc(48px - var(--column-gap)) [full-end];
  }

  @media (width >= 1400px) {
    grid-template-columns:
      [full-start] auto [content-start] repeat(12, minmax(auto, 80px))
      [content-end] auto [full-end];
  }
}

.movie-list {
  display: flex;
  grid-area: content;
  flex-direction: column;
  gap: 8rem;

  li {
    display: flex;
    align-items: stretch;
  }
}

.errorMessage {
  display: flex;
  align-self: center;
}
