.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-x05);
  background: var(--color-secondary);
  padding: var(--spacing-x03) var(--spacing-x06);
  color: var(--color-white);

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  .form {
    order: 3;

    @media (width >= 768px) {
      order: 2;
    }
  }

  .link {
    order: 1;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    @media (width >= 768px) {
      order: 1;
    }
  }
}
